---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
import { ViewTransitions } from "astro:transitions"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>breeze.</title>
    <link
      rel="preconnect"
      href="//fdn.fontcdn.ir"
      rel="preconnect"
      href="//v1.fontapi.ir"
    />
    <link href="https://v1.fontapi.ir/css/SFProDisplay" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/global.css" />

	<ViewTransitions />
  </head>
  <body>
	<Navbar></Navbar>
    <slot />
  </body>
</html>
