html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(at bottom, #000d1b 1%, #050b13 100%);
    color: white;
}

* {
    font-family: SF Pro Display;
}

nav {
    background: linear-gradient(to right, rgb(4, 6, 8), rgb(15, 19, 27), rgb(15, 19, 27), rgb(4, 6, 8));
    z-index: 5;
    border-radius: 0 0 30px 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 110px;
    margin-top: -35px;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.34, 1, 0.64, 1);
    position: fixed;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%) scale(0.95);
    overflow: hidden;
}

nav:hover {
    width: 735px;
    margin-top: -3px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    display: flex;
}

nav ul li {
    margin: 5px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 100px;
    padding: 5px 15px;
    transition: 0.15s;
}

nav ul li:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

nav ul li.divider {
    background: rgba(128, 128, 128, 0.445);
    width: 2px;
    height: 20px;
    position: relative;
    transform: translateY(40%);
    padding: 0;
}

nav ul li.divider:hover {
    pointer-events: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a i {
    width: 16px;
    height: 16px;
}

#contentFrame {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}

#contentFrame.active {
    display: block;
}

#homeContent {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#homeContent.hidden {
    display: none;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-slate-700 {
    color: rgb(51 65 85);
}

.text-slate-600 {
    color: rgb(71 85 105);
}

.font-black {
    font-weight: 900;
}

.font-medium {
    font-weight: 500;
}

.lucide {
    scale: 0.95;
}

.toast-icon {
    margin-right: 6px;
}

.fa-icon-lol {
    font-size: 22px;
    margin-right: 10 px;
    vertical-align: middle;
}

nav ul li.disabled {
    filter: brightness(0.7);
    pointer-events: none;
}

.toast {
    z-index: 60;
}